/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styels */
:root {
  --primary-color: #ed563a;
  --primary-text-color: #232d38;
  --secondary-text-color: #909090;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

/* Custom Styles */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  padding: 8px 18px;
  display: inline-block;
  font-weight: 400 !important;
}
.btn:hover {
  color: var(--primary-color);
  background-color: #fff;
}
/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 24px 0px;
  z-index: 100;
  position: relative;
}
.logo {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}
.logo span {
  color: var(--primary-color);
}

.nav-list li {
  margin-left: 32px;
}
.nav-list a {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--primary-color);
}
